<html>
	<head>
		<meta charset="utf-8">
		<title>Sign up</title>
		<link rel="stylesheet" href="/API_style/signUp.css" media="screen">
	</head>

	<body>
		<div class="center"><h1>SIGN UP</h1></div>
		<form action="" method="post">
			<label for="UserName">NAME</label>
			<input type="text" name="name" placeholder="name">
			<br>

			<!-- <input type="hidden" name="key" value = <%= uniquecode %> > -->

			<label for="Password">PASSWORD</label>
			<input type="password" name="password" placeholder="password">
			<br>

			<label for="batch">BATCH</label>
			<input type="text" name="batch" placeholder="branch">
			<br>

			<label for="year">YEAR</label>
			<input type="text" name="year" placeholder="year">
			<br>

			<label for="collage id">BATCH</label>
			<input type="text" name="coll_id" placeholder="Roll NO">
			<br>

			<input type="submit" value="Sign Up">
		</form>

	</body>
</html>
